<!DOCTYPE html>
<html>
  {% load staticfiles %}

  <head>
    <title>Sudoku Solver</title>
    <script src="{% static 'js/react.js' %}"></script>
    <script src="{% static 'js/react-dom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>

  <body>
    <p>Sudoku Solver</p>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
  </body>
</html>
