{% extends "base.html" %}
{% block content %}
<center>
  <h3 style="display: block"> Input numbers</h3>

  <div id="grid">
    <table>
      {% for i in "012345678" %}
      <tr>
        {% for i in "012345678" %}
        <td></td>
        {% endfor %}
      </tr>
      {% endfor %}
  </div>

  <!-- [START] KEEP TESTING -->
  <!-- <div id="id_grid">
    {% for i in "012345678" %}
    <div class="grid_sqr">
      {% for i in "012345678" %}
      <div class="number_slot">
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div> -->
  <!-- [END] KEEP TESTING -->
</center>
{% endblock %}
