{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<center>
  <h3 style="display: block">Input numbers</h3>

  <!-- [START] PUT GRID IN A DIFFERENT HTML FILE. IMPORT IT -->
  <div id="id_grid" class="grid">
    {% for i in "012345678" %}
      {% for i in "012345678" %}
        <div class="number_slot">
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <!-- [START] PUT GRID IN A DIFFERENT HTML FILE. IMPORT IT -->
</center>

<div id="example"></div>
{% endblock %}

{% block scripts %}
<script>
  var set_ids = function() {
    var col = 0;
    var row = 0;
    var number_slots = document.getElementById('id_grid').children;

    for (var i = 0; i < number_slots.length; i++){
      number_slots[i].id = i + '_' + row + col;

      if (++col >= 9){
        col = 0;
        row++;
      }
    }

    // console.log('SETTING IDS')
  }

  set_ids();
</script>

<script type="text/babel" src="{% static 'js/main.js' %}"></script>
{% endblock %}
