{% extends "base.html" %}
{% load staticfiles %}
{% load return_item %}

{% block content %}
<center>
  <h3 style="display: block">Test solver</h3>

  <h4 syle="display: block;">Easy</h4>

  <div id="id_grid_easy_unsolved" class="grid">
    {% for i in "012345678" %}
      {% for j in "012345678" %}
        <div class="number_slot">
          <center>
            <span style="position: absolute;">{{ unsolved_easy|return_item:i|return_item:j }}</span>
          </center>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <br>
  <br>
  <div id="id_grid_easy_solved" class="grid">
    {% for i in "012345678" %}
      {% for j in "012345678" %}
        <div class="number_slot">
          <center>
            <span style="position: absolute;"></span>
          </center>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</center>

{% endblock %}
