{% extends "base.html" %}
{% load staticfiles %}
{% load return_item %}
{% load sudoku_grid %}

{% block content %}
<div class="centered">
  <h3 style="display: block">Test solver</h3>
  <div class="col-lg-1"></div>
  {% for key, value in tests.items %}
  <div class="col-xs-12 col-md-6 col-lg-5">
    <h4 syle="display: block;">{{ key|capfirst }}</h4>
    {% sudoku_grid grid_id="id_grid_{{key}}_unsolved" key_id=key numbers=value.unsolved %}
    <div style="height: 40px;"></div>
    {% sudoku_grid grid_id="id_grid_{{key}}_solved" key_id=key numbers=value.solved %}
    <h4>
      {{ key|capfirst }} test passed: {{ value.passed_test }}
    </h4>
    <h4>
      Solving Time: {{ value.solving_time|floatformat:2 }} s
    </h4>
  </div>
  {% endfor %}
  <div class="col-lg-1"></div>
</div>

{% endblock %}
