{% extends "base.html" %}
{% load staticfiles %}
{% load return_item %}

{% block content %}
<center>
  <h3 style="display: block">Test solver</h3>
  {% for key, value in tests.items %}
  <div class="col-md-4">
    <h4 syle="display: block;">{{ key|capfirst }}</h4>
    <div id="id_grid_{{ key }}_unsolved" class="grid">
      {% for i in "012345678" %}
        {% for j in "012345678" %}
          <div class="number_slot">
            <center>
              <span style="position: absolute;">{{ value.unsolved|return_item:i|return_item:j }}</span>
            </center>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <br>
    <br>
    <div id="id_grid_{{ key }}_solved" class="grid">
      {% for i in "012345678" %}
        {% for j in "012345678" %}
          <div class="number_slot">
            <center>
              <span style="position: absolute;">{{ value.solved|return_item:i|return_item:j }}</span>
            </center>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <h4>
      {{ key|capfirst }} test passed: {{ value.passed_test }}
    </h4>
    <h4>
      Solving Time: {{ value.solving_time|floatformat:2 }} s
    </h4>
  </div>
  {% endfor %}
</center>

{% endblock %}
